version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://localhost:5001/api
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
